<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>/api/v1/ios_updates</string>
	<key>scan_validate</key>
	<string>/api/v1/regexes/labels</string>
	<key>base</key>
	<string>http://192.168.1.109</string>
	<key>port</key>
	<string>:3000</string>
	<key>log_in</key>
	<string>/api/v1/users/login/</string>
	<key>log_out</key>
	<string>/api/v1/users/logout/</string>
	<key>order_item</key>
	<dict>
		<key>verify</key>
		<string>verify</string>
		<key>root</key>
		<string>/api/v1/order_items/</string>
	</dict>
	<key>orders</key>
	<dict>
		<key>history</key>
		<string>history</string>
		<key>root</key>
		<string>/api/v1/orders/</string>
	</dict>
	<key>print</key>
	<dict>
		<key>shop_unreceive</key>
		<string>P004/</string>
		<key>shop_receive</key>
		<string>P003/</string>
		<key>stock_yun</key>
		<string>P002/</string>
		<key>stock_tuo</key>
		<string>P001/</string>
		<key>file</key>
		<string>/printer/print/</string>
		<key>port</key>
		<string>:9000</string>
		<key>base</key>
		<string>http://192.168.1.109</string>
	</dict>
	<key>yun</key>
	<dict>
		<key>confirm_receive</key>
		<string>confirm_receive</string>
		<key>received</key>
		<string>received/</string>
		<key>receive</key>
		<string>receive/</string>
		<key>send</key>
		<string>send</string>
		<key>single</key>
		<string>detail/</string>
		<key>add_tuo</key>
		<string>add_forklift/</string>
		<key>remove_tuo</key>
		<string>remove_forklift/</string>
		<key>add_tuo_by_scan</key>
		<string>check_forklift/</string>
		<key>index</key>
		<string>list/</string>
		<key>root</key>
		<string>/api/v1/deliveries/</string>
	</dict>
	<key>tuo</key>
	<dict>
		<key>reject</key>
		<string>rejected/</string>
		<key>receive</key>
		<string>receive/</string>
		<key>remove_xiang</key>
		<string>remove_package/</string>
		<key>key_for_bundle</key>
		<string>check_package/</string>
		<key>bundle_add</key>
		<string>add_package/</string>
		<key>single</key>
		<string>detail/</string>
		<key>index</key>
		<string>binds/</string>
		<key>root</key>
		<string>/api/v1/forklifts/</string>
	</dict>
	<key>xiang</key>
	<dict>
		<key>validate_quantity</key>
		<string>validate_quantity/</string>
		<key>uncheck</key>
		<string>uncheck/</string>
		<key>check</key>
		<string>check/</string>
		<key>validate</key>
		<string>validate/</string>
		<key>index</key>
		<string>binds/</string>
		<key>root</key>
		<string>/api/v1/packages/</string>
	</dict>
	<key>part</key>
	<dict>
		<key>validate</key>
		<string>validate/</string>
		<key>root</key>
		<string>/api/v1/parts/</string>
	</dict>
</dict>
</plist>
