<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>part</key>
	<dict>
		<key>validate</key>
		<string>validates</string>
		<key>root</key>
		<string>/api/v1/parts/</string>
	</dict>
	<key>yun</key>
	<dict>
		<key>root</key>
		<string>/yuns</string>
	</dict>
	<key>tuo</key>
	<dict>
		<key>remove_xiang</key>
		<string>remove_package/</string>
		<key>key_for_bundle</key>
		<string>check_package/</string>
		<key>bundle_add</key>
		<string>add_package/</string>
		<key>single</key>
		<string>detail/</string>
		<key>index</key>
		<string>binds/</string>
		<key>root</key>
		<string>/api/v1/forklifts/</string>
	</dict>
	<key>xiang</key>
	<dict>
		<key>validate</key>
		<string>validates/</string>
		<key>index</key>
		<string>binds/</string>
		<key>root</key>
		<string>/api/v1/packages/</string>
	</dict>
	<key>base</key>
	<string>http://192.168.1.1</string>
	<key>port</key>
	<string>:3000</string>
</dict>
</plist>
